// Palette Sito
$purple: #7B0EAE;
$black: #080708;
$full-white: #FFF;
$white: #E6E8E6;
$blue: #7A89C2;
$green: #4f7146;

// Colori personalizzati per tier
$tier-1-0: #00830b; // Verde scuro
$tier-1-5: #28c835; // Verde
$tier-2-0: #cbb900; // Giallo
$tier-2-5: #fb8500; // Arancione
$tier-3-0: #d62828; // Rosso