// Palette Sito
$purple: #7B0EAE;
$black: #080708;
$white: #E6E8E6;
$blue: #7A89C2;
$green: #636B61;

// Colori personalizzati per tier
$tier-1: #00830b; // Verde scuro
$tier-1-5: #28c835; // Verde
$tier-2: #fee440; // Giallo
$tier-2-5: #fb8500; // Arancione
$tier-3: #d62828; // Rosso